.icon-wrapper {
  display: flex;
  margin-right: 60px;
  margin-left: 360px;
  margin-top: 50px; /* Ajouter un espace de 20px entre les icônes et le bord droit de l'écran */
  padding-bottom: 100px
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* Espacement horizontal entre les icônes */
  grid-column-gap: 120px;
  /* Espacement vertical entre les icônes */
  grid-row-gap: 20px;
  width: calc(100% - 60px);
}

.icon-item {
  text-align: center; /* Centrer le contenu des div */
}

@media (max-width: 768px) {
  .icon-wrapper {
    display: flex;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 140px; /* Ajouter un espace de 20px entre les icônes et le bord droit de l'écran */
    padding-bottom: 60px
  }

  .icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* Espacement horizontal entre les icônes */
    grid-column-gap: 120px;
    /* Espacement vertical entre les icônes */
    grid-row-gap: 20px;
    width: calc(100% - 60px);
  }
}