.banner {
	color: black;
    background-color: rgb(140, 206, 39);
	text-align: left;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: left;
	flex-direction: row;
	align-items: center;
}

.banner-title {
	padding-left: 16px;
}

.banner-logo {
	height: 69px;
	width: 100px;
}

.banner-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.banner-button:hover {
    background-color: white;
    color: rgb(140, 206, 39);
}
