.banner {
    color: black;
    background-color: rgb(140, 206, 39);
    text-align: left;
    padding: 15px; /* Réduire l'espacement pour une meilleure adaptation mobile */
    border-bottom: solid 3px black;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap; /* Permettre le wrapping des éléments */
}

.banner-title {
    flex: 1; /* Prendre autant d'espace que possible */
    padding-left: 16px;
    margin-bottom: 16px; /* Ajouter une marge en bas pour l'espacement */
}

.banner-logo {
    height: auto; /* Ajuster automatiquement la hauteur */
    width: 100px;
    margin-right: 16px; /* Ajouter une marge à droite pour l'espacement */
}

.banner-buttons {
    flex: 1; /* Prendre autant d'espace que possible */
    display: flex;
    justify-content: center;
}

.banner-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    margin: 0 5px; /* Réduire la marge entre les boutons */
    font-size: 14px; /* Réduire la taille de la police pour une meilleure adaptation mobile */
    cursor: pointer;
    transition: all 0.3s ease;
}

.banner-button:hover {
    background-color: white;
    color: rgb(140, 206, 39);
}

/* Media query pour les appareils mobiles avec une largeur maximale de 600px */
@media (max-width: 600px) {
    .banner {
        flex-direction: column; /* Afficher les éléments en colonne pour une meilleure adaptation mobile */
		justify-content: space-between;
    }

    .banner-logo {
        width: 80px; /* Réduire la largeur du logo pour une meilleure adaptation mobile */
        margin: 0 auto 10px; /* Centrer le logo et ajouter une marge en bas */
    }

    .banner-title {
        padding: 0;
        text-align: center; /* Centrer le titre */
    }

    .banner-buttons {
        margin-top: 10px; /* Ajouter une marge en haut pour l'espacement */
    }

    .banner-button {
        margin: 5px; /* Réduire la marge entre les boutons */
    }
}
