/* Conteneur du panier */
.panier-container {
  padding: 20px;
  width: 90%; /* Ajustement de la largeur */
  max-width: 1200px; /* Définition de la largeur maximale */
  margin: 0 auto;
}

/* Éléments individuels du panier */
.panier-item {
  border: 2px solid #ccc;
  border-radius: 10px; /* Augmentation de la bordure arrondie */
  padding: 20px;
  margin-bottom: 20px; /* Espacement entre les éléments du panier */
  display: grid; /* Utilisation de la grille pour organiser les éléments */
  grid-template-columns: auto 1fr; /* Une colonne pour l'image et une colonne pour les détails */
  grid-gap: 20px; /* Espacement entre les colonnes */
}

/* Image de l'article */
.item-image {
  width: 150px;
  height: auto;
  object-fit: contain;
  border-radius: 5px; /* Bordure arrondie pour l'image */
}

/* Détails de l'article */
.item-details {
  display: flex;
  flex-direction: column; /* Afficher les détails de l'article en colonne */
}

/* Titre de l'article */
.item-title {
  font-size: 18px;
  margin-bottom: 10px; /* Espacement entre le titre et le prix */
}

/* Prix de l'article */
.item-price {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px; /* Espacement entre le prix et la quantité */
}

/* Quantité de l'article */
.item-quantity {
  font-size: 14px;
  color: #666;
}
